* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}

.card {
    height: 450px;
    width: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.card.first {
    background-image: url('../img/1.webp');
    position: relative;
}

.card.second {
    background-image: url('../img/2.webp');
}

.card.third {
    background-image: url('../img/3.webp');
}

.discount {
    color: white;
    background-color: red;
    padding: 2px;
    position: absolute;
    bottom: 20px;
}

.sost {
    color: white;
    background-color: rgba(2, 137, 92, 1);
    padding: 2px;
    position: absolute;
    bottom: 20px;
    left: 50px
}

.under-line {
    position: absolute;
    top: 450px;
}

.brand {
    font-size: 12px;
}

.description {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif
}

.price-red {
    color: red;
    font-weight: 900;
}

.strike-price {
    text-decoration: line-through;
}

.heart {
    font-size: 20px;
    background-color: white;
    padding: 10px 10px;
    position: absolute;
    right: 0;
    top: 10px;
}