* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

.card {
    width: 250px;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card.first {
    background-image: url('../img/1.webp');
}