    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .container {
        width: 1000px;
        height: 1200px;
        margin: 40px auto;
    }
    /* Utilities */
    
    .card {
        position: relative;
        width: 250px;
        height: 350px;
        display: inline-block;
        margin-top: 30px;
        cursor: pointer;
    }
    
    img {
        height: 350px;
        width: 250px;
    }
    
    .discount {
        color: white;
        background-color: red;
        padding: 2px;
        position: absolute;
        bottom: 20px;
        left: 0;
    }
    
    .sost {
        color: white;
        background-color: rgba(2, 137, 92, 1);
        padding: 2px;
        position: absolute;
        bottom: 20px;
        left: 50px;
    }
    
    .brand {
        font-size: 12px;
    }
    
    .description {
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif
    }
    
    .price-red {
        color: red;
        font-weight: 900;
        font-size: 12px;
    }
    
    .strike-price {
        text-decoration: line-through;
        font-size: 12px;
    }
    
    .heart {
        font-size: 20px;
        background-color: white;
        padding: 10px 10px;
        position: absolute;
        right: 0;
        top: 10px;
    }
    
    .heart:hover {
        color: red;
    }